body {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    0deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(235, 173, 171, 1) 100%
  );
}
input {
  border: none;
  margin: 10px;
  padding: 5px 8px;
  border-radius: 4px;
  background-color: #dddddd;
}

ul {
  list-style-type: none;
}

label {
  color: #374d7e;
  margin-left: 45px;
}
.header {
  margin: 0 auto;
  padding: 20px;
  background: rgb(135, 101, 181);
  background: linear-gradient(
    0deg,
    rgba(135, 101, 181, 1) 0%,
    rgba(55, 77, 126, 1) 100%
  );
  color: rgb(245, 204, 204);
  font-size: 1.2em;
}

.input-area {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.CitySearch {
  flex: 1;
  padding: 10px;
  align-items: center;
  text-align: center;
  margin: auto;
}
.NumberOfEvents {
  flex: 1;
  padding: 10px;
  align-items: center;
  text-align: center;
  margin: auto;
}

.number-of-events {
  margin-left: 65px;
}

.city {
  margin-left: 65px;
}

.search-label {
  font-size: 18px;
  font-weight: bold;
}

.suggestions {
  color: #2f436e;
  font-weight: bold;
}

.see-all {
  font-size: 14px;
}

.Alert {
  text-align: center;
}

.number-label {
  font-size: 18px;
  font-weight: bold;
}

.data-vis-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.details-btn {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(245, 204, 204);
  color: #505194;
  border: none;
}

.details-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.EventList {
  padding: 2em;
}

.event-list {
  width: 85%;
}

.event-li {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(67, 42, 50, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(67, 42, 50, 0);
  background-color: #505194;
  color: rgb(245, 204, 204);
  padding: 10px;
  margin: 20px;
  border-radius: 4px;
}

a {
  color: #daddf8;
}

.default-event-info {
  padding: 1em;
  border: 2px solid rgb(245, 204, 204);
}

.event-details {
  color: rgb(245, 204, 204);
}

@media only screen and (max-width: 600px) {
  .EventList {
    flex-direction: column;
  }
  .data-vis-wrapper {
    flex-direction: column;
  }
}
